<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>oenaqba@ooraivr.pbz</string>
	<key>contactName</key>
	<string>Brandon Benvie</string>
	<key>description</key>
	<string>JavaScript language definition for TextMate and SublimeText2</string>
	<key>name</key>
	<string>JavaScript Next</string>
	<key>uuid</key>
	<string>B5617C72-9CE4-483A-A3B7-D16290DC4BB1</string>
</dict>
</plist>
